<div class="container">
  <div class="flex flex-col-reverse md:flex-row justify-evenly items-center text-center h-[100vh] w-[100vw]">
    <div class="col-6 md:w-1/2 h-1/2 flex md:items-start px-5 md:p-0 items-center md:justify-center flex-col md:ps-14">
      <p class="md:text-6xl font-bold text-start text-4xl">Track Your Health</p>
      <p class="md:text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, commodi?</p>
      <div class="buttons flex flex-col w-full md:flex-row">
        <a class="py-2 bg-blue-600 hover:bg-blue-700 me-3 px-6 mt-3 rounded text-white font-semibold" routerLink="/add-workout">Add Workout</a>
        <button class="py-2 bg-blue-600 hover:bg-blue-700 me-3 px-6 mt-3 rounded text-white font-semibold" routerLink="/report">Report</button>
        <button class="py-2 bg-blue-600 hover:bg-blue-700 me-3 px-6 mt-3 rounded text-white font-semibold" routerLink="/progress">Progress Chart</button>
      </div>
    </div>
    <div class="col-6 w-1/2 items-center flex justify-center">
      <img src="assets/workout.svg" class="w-full">
    </div>
  </div>
</div>